<!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
  -->
<!DOCTYPE HTML>
<html>
  <head>
    <title>Colorful Flat Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="../images/fave-icon.png" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
<link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="../css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
<script src="../js/modernizr.custom.28468.js"></script>
<link rel="stylesheet" type="text/css" href="../css/simptip-mini.css" media="screen,projection" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
  <!---start-wrap----->
  <!---start-header----->
  <div class="header-short" id="home">
    <div class="wrap">
      <div class="top-header">
	<div class="logo">
	  <a href="index.html"><span> </span>Prism 3D</a>
	</div>
	<div class="top-nav">
	  <ul>
	    <li class="active"><a href="#home" class="scroll">Home</a></li>
	    <li><a href="templates/services.html">Services</a></li>
	    <li><a href="templates/portfolio.html">Portfolio</a></li>
	    <li><a href="templates/blog.html">Blog</a></li>
	    <li><a href="templates/contact.html">Contact</a></li>
	    <div class="clear"> </div>
	  </ul>
	</div>
	<div class="clear"> </div>
      </div>
      <!---End-header----->
      <!----start-content-slider---->
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <!----start-content-slider---->
    </div>
  </div>
  <!---End-header----->
  <!---start-content---->
  <div class="content">
    <!--- start-blog----->
    <div class="blog">
      <div class="wrap">
	<div class="blog-grids">
	  <div class="blog-grid blog-grid1">
	    <div class="blog-grid-left" onclick="location.href='#';">
	      <span> </span>
	    </div>
	    <div class="blog-grid-right">
	      <h3><a href="#">Layered Neatly Photoshop Template</a></h3>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere. Integer lobortis purus a felis adipiscing, eget ornare justo semper. Etiam commodo tincidunt ante.</p>
	      <a class="blogbtng popup-with-zoom-anim" href="#small-dialog1">Show More</a>
	    </div>
	    <div class="clear"> </div>
	  </div>
	  <!----->
	  <div class="blog-grid2">
	    <div class="blog-grid2-left">
	      <h3><a href="#">Layered Neatly Photoshop Template</a></h3>
	      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere. Integer lobortis purus a felis adipiscing, eget ornare justo semper. Etiam commodo tincidunt ante.</p>
	      <a class="blogbtnb popup-with-zoom-anim" href="#small-dialog1">Show More</a>
	    </div>
	    <div class="blog-grid2-right" onclick="location.href='#';">
	      <span> </span>
	    </div>
	    <div class="clear"> </div>
	  </div>
	  <!----->
	  <div class="clear"> </div>
	</div>
      </div>
    </div>
    <!--- End-blog----->
    <!--- start-recent-posts----->
    <div class="recent-posts" id="blog">
      <div class="wrap">
	<div class="recent-posts-head">
	  <h3>Recent Posts</h3>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere.</p>	
	</div>
	<div class="post-grids">
	  <div class="post-grid">
	    <span onclick="location.href='#';"><a href="#"> </a></span>
	    <h4><a href="#">Really Interesting Post</a></h4>
	    <label>October 27</label>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.</p>
	  </div>
	  <div class="post-grid">
	    <span onclick="location.href='#';"><a href="#"> </a></span>
	    <h4><a href="#">Really Interesting Post</a></h4>
	    <label>October 27</label>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.</p>
	  </div>
	  <div class="post-grid">
	    <span onclick="location.href='#';"><a href="#"> </a></span>
	    <h4><a href="#">Really Interesting Post</a></h4>
	    <label>October 27</label>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.</p>
	  </div>
	  <div class="clear"> </div>
	  <a class="morebtn popup-with-zoom-anim" href="#small-dialog1">Show More</a>
	</div>
      </div>
    </div>
    <!--- //End-recent-posts----->
  </div>
  <!---End-content---->
  <!----start-footer---->
  <div class="footer">
    <div class="wrap">
      <div class="footer-grids">
	<div class="footer-left">
	  <ul>
	    <li><a class="ftwiter" href="#"> </a></li>
	    <li><a class="fface" href="#"> </a></li>
	    <li><a class="fhtml" href="#"> </a></li>
	    <li><a class="fflick" href="#"> </a></li>
	    <div class="clear"> </div>
	  </ul>
	</div>
	<div class="footer-right">
	  <p>Template by <a href="http://w3layouts.com/">W3layouts</a></p>
	  <script type="text/javascript">
	    $(document).ready(function() {
	    $().UItoTop({ easingType: 'easeOutQuart' });
	    });
	  </script>
	  <!----move-top-path---->
	  <script type="text/javascript" src="js/move-top.js"></script>
	  <script type="text/javascript" src="js/easing.js"></script>
	  <script type="text/javascript">
	    jQuery(document).ready(function($) {
	    $(".scroll").click(function(event){		
	    event.preventDefault();
	    $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
	    });
	    });
	  </script>
	  <!----move-top-path---->
	  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>

	</div>
	<div class="clear"> </div>
      </div>
    </div>
  </div>
  <!----//End-footer---->
  <!---End-wrap----->
</body>
</html>

