<!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
  -->
<!DOCTYPE HTML>
<html>
  <head>
    <title>Colorful Flat Website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/fave-icon.png" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
<link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="../css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
<script src="../js/modernizr.custom.28468.js"></script>
<link rel="stylesheet" type="text/css" href="../css/simptip-mini.css" media="screen,projection" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
  <!---start-wrap----->
  <!---start-header----->
  <div class="header-short" id="home">
    <div class="wrap">
      <div class="top-header">
	<div class="logo">
	  <a href="../index.html"><span> </span>Prism 3D</a>
	</div>
	<div class="top-nav">
	  <ul>
	    <li class="active"><a href="../index.html" class="scroll">Home</a></li>
	    <li><a href="./services.html">Services</a></li>
	    <li><a href="./portfolio.html">Portfolio</a></li>
	    <li><a href="./blog.html">Blog</a></li>
	    <li><a href="./contact.html">Contact</a></li>
	    <div class="clear"> </div>
	  </ul>
	</div>
	<div class="clear"> </div>
      </div>
      <!---End-header----->
      <!----start-content-slider---->
    </div>
  </div>
  <!---End-header----->
  <!---start-content---->
  <div class="content">
    <!---start-meet-our-team---->
    <div class="team">
      <div class="wrap">
	<div class="team-head">
	  <h3>Meet Our team</h3>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere.</p>
	</div>
	<div class="team-members">
	  <div class="team-member">
	    <span><a href="#"> </a></span>
	    <h4><a href="#">Liam Wisehart</a></h4>
	    <label>CEO</label>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.</p>
	    <ul>
	      <li>
	      <li><a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
	      <li><a class="twitter simptip-position-bottom simptip-movable" data-tooltip="Twitter" href="#"> </a></li>
	      <li><a class="pin simptip-position-bottom simptip-movable" data-tooltip="Pintrest" href="#"> </a></li>
	      <div class="clear"> </div>
	      </li>
	    </ul>
	  </div>
	  <div class="team-member">
	    <span><a href="#"> </a></span>
	    <h4><a href="#">Liam Wisehart</a></h4>
	    <label>CTO</label>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.</p>
	    <ul>
	      <li>
	      <li><a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
	      <li><a class="twitter simptip-position-bottom simptip-movable" data-tooltip="Twitter" href="#"> </a></li>
	      <li><a class="pin simptip-position-bottom simptip-movable" data-tooltip="Pintrest" href="#"> </a></li>
	      <div class="clear"> </div>
	      </li>
	    </ul>
	  </div>
	  <div class="team-member">
	    <span><a href="#"> </a></span>
	    <h4><a href="#">Liam Wisehart</a></h4>
	    <label>CFO</label>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est.</p>
	    <ul>
	      <li>
	      <li><a class="facebook simptip-position-bottom simptip-movable" data-tooltip="Facebook" href="#"> </a></li>
	      <li><a class="twitter simptip-position-bottom simptip-movable" data-tooltip="Twitter" href="#"> </a></li>
	      <li><a class="pin simptip-position-bottom simptip-movable" data-tooltip="Pintrest" href="#"> </a></li>
	      <div class="clear"> </div>
	      </li>
	    </ul>
	  </div>
	  <div class="clear"> </div>
	  <div class="clear"> </div>
	</div>
      </div>
    </div>
    <!---//End-meet-our-team---->
    <!---start-contact---->
    <div class="contact" id="contact">
      <div class="wrap">
	<div class="contact-head">
	  <h3>Contact us</h3>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere.</p>	
	</div>
	<div class="contatct-form">
	  <form>
	    <input type="text" value="Name :" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name :';}">
	    <input type="text" value="Email :" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email :';}">
	    <textarea rows="2" cols="70" onfocus="if(this.value == 'Message :') this.value='';" onblur="if(this.value == '') this.value='Message :';" >Message :</textarea>
	    <input type="submit" value="Send" />
	  </form>
	</div>
      </div>
    </div>
    <!---End-contact---->
  </div>
  <!---End-content---->
  <!----start-footer---->
  <div class="footer">
    <div class="wrap">
      <div class="footer-grids">
	<div class="footer-left">
	  <ul>
	    <li><a class="ftwiter" href="#"> </a></li>
	    <li><a class="fface" href="#"> </a></li>
	    <li><a class="fhtml" href="#"> </a></li>
	    <li><a class="fflick" href="#"> </a></li>
	    <div class="clear"> </div>
	  </ul>
	</div>
	<div class="footer-right">
	  <p>Template by <a href="http://w3layouts.com/">W3layouts</a></p>
	  <script type="text/javascript">
	    $(document).ready(function() {
	    $().UItoTop({ easingType: 'easeOutQuart' });
	    });
	  </script>
	  <!----move-top-path---->
	  <script type="text/javascript" src="js/move-top.js"></script>
	  <script type="text/javascript" src="js/easing.js"></script>
	  <script type="text/javascript">
	    jQuery(document).ready(function($) {
	    $(".scroll").click(function(event){		
	    event.preventDefault();
	    $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
	    });
	    });
	  </script>
	  <!----move-top-path---->
	  <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>

	</div>
	<div class="clear"> </div>
      </div>
    </div>
  </div>
  <!----//End-footer---->
  <!---End-wrap----->
</body>
</html>

